:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --font-color: hsl(0, 0%, 100%);
  --font-L: "Nunito Sans", sans-serif;
  --font-m: "Noto Serif JP", serif;
}

/* .nunito-sans-uniquifier {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
} */
* {
  padding: 1px;
  margin: 1px;
  box-sizing: border-box;
}
section {
  margin-bottom: 100px;
}
body {
  background-color: var(--primary-color);
}
header {
  display: flex;
  background-color: var(--primary-color);
  flex-direction: row;
  width: 100%;
  height: 20%;
}

ul {
  list-style: none;
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10%;
  margin-left: 950px;
  margin-top: 50px;
}
ul li {
  font-size: medium;
  font-family: var(--font-m);
  font-variation-settings: "wdth" 10, "YTLC" 50;
  opacity: 80%;
}
#img-logo {
  margin-top: 55px;
  margin-left: 40px;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -10px;
}

nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

main {
  padding: 50px 20px;
}

#heroh1 {
  color: var(--secondary-color);
  font-size: 40px;
  padding: 25%;
  margin-top: -350px;
  font-family: var(--font-L);
  font-weight: 400;
}

.hero-section p {
  font-size: 12px;
  color: #ccc;
  margin-top: -350px;
  margin-left: 370px;
  font-family: var(--font-m);
}

.shapes {
  position: relative;
  height: 300px;
}

.shape {
  position: absolute;
}

.triangle {
  width: 0px;
  height: 0px;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  border-bottom: 240px solid #60fdf4;
  top: 100px;
  left: 210px;
}

.cross {
  width: 380px;
  height: 80px;
  background: #fb72ff;
  position: absolute;
  top: 140px;
  left: 45px;
  transform: rotate(125deg);
}

.cross::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 80px;
  background: #fb72ff;
  top: 60px;
  left: 10px;
  transform: rotate(-90deg);
}

.circle {
  width: 80px;
  height: 80px;
  background: #4cabe1;
  border-radius: 50%;
  top: 300px;
  left: 720px;
}

.line {
  width: 300px;
  height: 18px;
}

.green {
  background: #62eb9a;
  top: 370px;
  left: 900px;
  width: 100px;
}

.pink {
  background: #fb72ff;
}

.rotate-1 {
  transform: rotate(10deg);
  top: 20px;
  left: 1050px;
}

.rotate-2 {
  transform: rotate(-20deg);
  top: 180px;
  left: 1150px;
}
.rotate-3 {
  transform: rotate(15deg);
  top: 350px;
  left: 1050px;
}

.yallow-shape {
  width: 350px;
  height: 80px;
  background: #ffd426;
  position: absolute;
  top: 48%;
  left: 43%;
  transform: translate(-50%, -50%) rotate(15deg);
  z-index: 1;
}

.yallow-shape::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 80px;
  background: #ffd426;
  transform: rotate(90deg);
  top: 0;
  left: 0;
}

.black {
  width: 90px;
  height: 90px;
  background: #000000;
  border-radius: 50%;
  top: -5px;
  left: 131px;
}

#process {
  margin-top: 300px;
}
.container {
  padding: 20px;
  margin-top: 300px;
  margin: auto;
  height: 800px;
}

.title-h1 {
  color: var(--secondary-color);
  display: inline-block;
  margin-left: 170px;
}
.title-h1 span {
  color: white;
  display: inline-block;
  transform: rotate(-90deg);
  font-family: var(--font-L);
  font-size: 20px;
  list-style: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 280px;
  height: 600px;
}

.grid .grid-item {
  padding: 99px;
  grid-row: 800px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: end;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.205);
}

.grid-item .h {
  position: relative;
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: -50px;
  width: 100px;
  font-family: var(--font-L);
  left: -60px;
}

.grid-item p {
  position: absolute;
  font-size: 16px;
  color: #ccccccc7;
  width: 160px;
  line-height: 1.3;
  margin-top: 50px;
  margin-left: 60px;
  font-family: var(--font-m);
}

.shape2 {
  position: absolute;
  margin-top: 400px;
  z-index: 0;
}

.circlee {
  width: 40px;
  height: 40px;
  background: #4cabe1;
  border-radius: 50%;
  bottom: 50px;
  left: 30%;
  transform: translateX(-50%);
}

.square {
  width: 50px;
  height: 50px;
  background: #fb72ff;
  bottom: 50px;
  left: 30%;
  transform: translateX(-50%);
}

.design-shape {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top: 30px solid #7fcb7f;
  border-right: 30px solid #7fcb7f;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-radius: 50%;
  border-radius: 50%;
  bottom: 50px;
  left: 30%;
  transform: rotate(135deg);
  bottom: unset;
}

.alt {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top: 30px solid #7fcb7f;
  border-right: 30px solid #7fcb7f;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-radius: 50%;
  border-radius: 50%;
  margin-top: 375px;
  left: 25%;
  transform: rotate(315deg);
  bottom: unset;
}

.design-shape::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fedd21;
  border-radius: 50%;
  top: 100%;
  margin-top: 30px;
  transform: translate(-50%, -100%);
  bottom: 50px;
  left: 30%;
}

.triangles {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  bottom: unset;
  left: 110px;
  transform: rotate(-150deg);
}

.triangles::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #00ced1;
  top: 10;
  left: -55px;
}

.triangles::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #00ced1;
  top: 0;
  left: 40px;
  transform: rotate(35deg);
}
.tow {
  transform: rotate(135deg);
}
h4 {
  color: #ffffffd5;
  font-family: var(--font-L);
  margin-top: 80px;
  left: 280px;
  position: relative;
}

/* ////////////////////////////////////////// */

.Work-flex {
  margin-left: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-self: start;
}
.work-box {
  height: 900px;

  justify-items: start;
}
.work-col {
  flex-direction: column;
  justify-content: space-between;
}

.work-h2 {
  color: var(--secondary-color);
  font-family: var(--font-L);
  margin-right: 260px;
  margin-top: 60px;
  font-weight: 100;
  font-size: 20px;
}
.work-p {
  color: var(--secondary-color);
  color: #ffffffa5;
  font-family: var(--font-m);
  font-size: 17px;
  margin-top: 60px;
  margin-right: 20px;
  width: 430px;
}

.col1 {
  margin-top: -60px;
  width: 300px;
}
.col2 {
  margin-top: 60px;
  width: 300px;
  margin-right: 120px;
}
#work h4 {
  margin-bottom: 300px;
}

/* ////////////////////////// */
#Testimonials .container .title-h1 {
  color: var(--secondary-color);
  margin-left: -140px;
  margin-bottom: -10px;
}

#Testimonials .container {
  display: block;
  height: 900px;
  margin-top: 1400px;
  margin-left: 220px;
  position: relative;
}
.Test {
  position: relative;
  width: 1150px;
  height: 700px;
  border: 1px solid rgba(255, 255, 255, 0.338);
  margin-right: 700px;
  border-right: none;
  justify-items: center;
}
.test-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 150px;
}
.test-p {
  font-family: var(--font-m);
  color: #ffffffbc;
  width: 500px;
  font-size: 16px;

  margin-top: 50px;
}
h3 {
  position: absolute;
  font-family: var(--font-L);
  color: #fff;
  font-weight: 500;
  left: 400px;
  top: 340px;
}
h4 {
  font-family: var(--font-L);
  color: #ffffffc6;
  font-weight: 500;
  font-size: 14px;
  left: 85px;
  bottom: 120px;
}
.sign {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: bold;
  top: 60px;
}
.alb {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-top: 25px solid #61fdf4;
  border-right: 25px solid #61fdf4;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  left: -13px;
  transform: rotate(45deg);
  top: -15px;
  bottom: unset;
  z-index: 2;
}
.squareb {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #60fdf4;
  left: 57px;
  top: -25px;
  transform: translateX(-50%);
  z-index: 3;
}
.aly {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-top: 25px solid #fedd21;
  border-right: 25px solid #fedd21;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  left: 53px;
  transform: rotate(45deg);
  top: -95px;
  bottom: unset;
  z-index: 3;
}
.squarey {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fedd21;
  left: 123px;
  top: -105px;
  transform: translateX(-50%);
}
.test-img {
  margin-right: 450px;
}
.ca h3 {
  position: absolute;
  left: +700px;
  font-size: 16px;
}
.test-info {
  margin-top: 10px;
}

.res div {
  position: relative;
}
.res div .res-1 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fb72ff;
  position: absolute;
  left: 630px;
  top: -30px;
}
.res div .img {
  background-image: url(/Style/img/reso.png);
  background-size: cover;
  width: 400px;
  height: 600px;
  position: absolute;
  left: 300px;
  top: 100px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.res .res-2 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: transparent;
  border-top: 120px solid transparent;
  border-right: 120px solid #62eb9a;
  border-left: 120px solid transparent;
  border-bottom: 120px solid #62eb9a;
  position: absolute;
  right: 100px;
  top: 200px;
  transform: rotate(45deg);
  padding: 5px;
}
.res .res-2 div {
  transform: rotate(-45deg);
  margin-top: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  color: var(--secondary-color);
  left: 45px;
}

.res h2 {
  color: #ffffff;
  font-family: var(--font-L);
  font-size: 40px;
}
.res p {
  color: #ffffffc7;
  font-family: var(--font-m);
  font-size: 16px;
  width: 185px;
  height: 90px;
}

div span {
  font-family: var(--font-m);
  font-size: 15px;
}

/* /////////////////////////////////////// */

.contact .title-h1 {
  color: var(--secondary-color);
  margin-left: 140px;
  margin-bottom: -10px;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-L);
  margin-top: 1000px;
}
.contact {
  margin: 0px;
}
.contact p {
  margin-left: 100px;
}
.contact p span {
  display: inline-block;
  margin-left: 3px;
  transform: rotate(-90deg);
}

.contact .form {
  width: 100%;
  height: 540px;
  margin-left: -50px;
  display: grid;
  grid-template-areas:
    "dd1 dd2 dd3"
    "dd1 dd2 dd3"
    "dd1 dd2 dd4";
  grid-template-columns: 20% 25% 55%;
}
.contact .form div {
  border: 1px solid rgba(255, 255, 255, 0.215);
  border-right: none;
}
.form > div.dd1 {
  grid-area: dd1;
  text-align: center;
}
.form > div.dd2 {
  grid-area: dd2;
}
.form > div.dd3 {
  grid-area: dd3;
}
.form > div.dd4 {
  grid-area: dd4;
}
.contact .form .dd1 {
  border: none;
}
.contact .form .dd2 {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 35px;
}
.contact .form .dd2 img {
  border-radius: 50%;
  margin: 20px 0px;
}
.contact .form .dd2 h2 {
  margin: 20px 0px;
  font-size: 30px;
  color: #ffffff;
}
.contact .form .dd2 p {
  margin: 20px 0px;
  font-size: 19px;
  width: 275px;
  color: #ffffffb9;
}
.contact .form .dd2 span {
  font-size: 15px;
  color: #ffffff;
}
.contact .form .dd3 {
  padding: 40px;
  color: var(--secondary-color);
  font-family: var(--font-L);
  font-size: 20px;
}
.contact .form .dd3 h1 {
  margin: 30px 0;
  font-weight: 400;
}
.contact .form .dd3 form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10% 0;
}
.contact .form .dd3 form input {
  width: 90%;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
}

.contact .form .dd3 form input::placeholder {
  color: white;
}
.contact .form .dd3 form .inp {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}
.contact .form .dd3 form .inp .sup {
  width: 150px;
  background-color: white;
  color: black;
  font-size: 15px;
}
.contact .form .dd3 form .inp span {
  transform: none;
  margin-top: 15px;
}
.contact .form .dd4 {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: var(--secondary-color);
}
.dd4 div {
  border: none;
}
.contact .form .dd4 .p1 {
  font-size: 20px;
}
/* ///////////////////////////////////////////////////// */
.footer-section {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 40px 0;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-nav {
  display: flex;
  gap: 0px;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.footer-nav a {
  color: rgba(255, 255, 255, 0.775);
  text-decoration: none;
  font-size: 13px;
}

.footer-nav span {
  color: #777;
}

.footer-info p {
  font-size: 13px;
  color: #ccc;
  margin: 3px 0;
  left: 100px;
}

.footer-social {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-linkedin {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
